* {
    box-sizing: border-box;
  }
   
  body, html {
    font-family: Arial;
    padding: 0px;
    background: #f1f1f1;
    margin:0;
    
  }
   
  .header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background-color: #19b491;
    color: white;
  }
    nav ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
        color: white;
    }         
    nav li{
        float: left;
        margin: 10px;
        padding: 10px;        
    }  

  nav  li a{
    color:white;
    text-decoration: none;    
  }

  .leftcolumn {
    float: left;
    width: 35%;
    padding-left: 10px;
    background-color: none;
  }
  .header p{   
    font-size: x-small;        
  }
  
.rightcolumn {   
    float: right;
    width: 63%;
    margin-left: 1rem;
    margin-bottom: 0px;
    background-color: white;
  }
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  .card {
     background-color: none;
     padding: 20px;
     margin-top: 20px;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
 
 .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 0px;
  }
  
  /*layout for smaller screens */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  } 